VITE_APP_CLIENT_ID=your-client-id
VITE_APP_TENANT_ID=your-tenant-id
VITE_APP_REDIRECT_URI=http://localhost:5174/signin-oidc
VITE_APP_POST_LOGOUT_REDIRECT_URI=http://localhost:5174/logged-out
VITE_APP_PRODUCT_API_ENDPOINT=http://localhost:5001
