VITE_APP_CLIENT_ID=your-client-id
VITE_APP_TENANT_ID=your-tenant-id
VITE_APP_REDIRECT_URI=http://localhost:5173/signin-oidc
VITE_APP_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/logged-out
VITE_APP_API_ENDPOINT=http://localhost:5000